html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #ffffff;
}

.navbar {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 15px 0;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: black;
}

.register, .login {
    background-color: white;
    color: black;
    font-size: 20px;
    cursor: pointer;
    height: 48px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.content {
    padding: 20px;
    text-align: center;
}

.info {
    padding: 20px;
    background-color: #f2f2f2;
}

.ads {
    display: flex;
    justify-content: space-between;
}

.ad {
    width: 30%;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 150px;
    box-sizing: border-box;
}

.carousel .carousel-item {
    scroll-snap-align: start;
    flex: 0 0 300px;
    margin-right: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.carousel .carousel-item img {
    width: 300px;
    height: 300px;
}

.container {
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #555;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    display: block;
    justify-content: center;
}

.description-container  {
    text-align: center;
    margin-top: 20px;
}
