<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>

  <style>

  </style>
</head>
<body>
<header style="height: 27%">
  <div style="position: relative;">
    <img th:src="@{/assets/images/small-bg.jpg}" alt="Background Image" style="width: 100%; height: auto;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" style="position: absolute; top: 0; left: 0; right: 0;">
      <div class="container">
        <a class="navbar-brand" th:href="@{/}"><h3>BitDonate</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/ads}">Advertisements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/swap}">Swap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/faq}">FAQ</a>
            </li>
            <li>
              <form class="form-inline my-2 my-md-0">
                <a sec:authorize="isAnonymous()" class="nav-link text-success" th:href="@{/login}">Login</a>
                <a sec:authorize="isAnonymous()" class="nav-link text-success" th:href="@{/register}">Register</a>
                <div sec:authorize="isAuthenticated()" class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-success" href="#" id="da" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                  <div class="dropdown-menu" aria-labelledby="da">
                    <a class="dropdown-item text-dark" th:href="@{/inventory}">Inventory</a>
                    <a class="dropdown-item text-dark" th:href="@{/ad/create}">Create AD</a>
                    <a class="dropdown-item text-dark" th:href="@{/admin}" sec:authorize="hasAuthority('ADMIN')">Admin</a>
                  </div>
                </div>
              </form>
            </li>
            <li>
              <a sec:authorize="isAuthenticated()" class="text-success" href="javascript: document.logoutForm.submit()">Sign out</a>
              <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out" />
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container text-center" style="position: absolute; top: 75%; left: 0; right: 0; transform: translate(0, -50%);">
      <h2 class="display-4 text-white">Frequently Asked Questions</h2>
    </div>
  </div>
</header>

<main class="content">
  <div class="container">
    <h2>How To Donate?</h2>
    <p><b>Install MetaMask:</b> If you don't already have MetaMask, you can download and install it for free as a browser extension.</p>
    <p><b>Set up your wallet:</b> After installing MetaMask, create a new wallet or connect it to your existing one.</p>
    <p><b>Connect your wallet to our platform:</b> Click "Connect Wallet" on our website. MetaMask will automatically open, allowing you to confirm the details of your wallet.</p>
    <p><b>Input Amount:</b> You will be asked to enter the number of BDC tokens you would like to donate. Once you have entered this, you can click on the Donate button.</p>
    <p><b>Confirm the transaction:</b> Review the transaction details in MetaMask and confirm the payment.</p>
    <p><b>Thank you for your donation!:</b> Your donation will be securely and anonymously sent to the chosen charity project.</p>
  </div>
  <div class="container mt-5">
    <h2>How To Create An AD?</h2>
    <p><b>Create an Account:</b> To create an Advertisement you must first create an account or log in to your existing account.</p>
    <p><b>Verify yourself:</b> If you have not yet verified yourself, you must upload a verification document and wait for manual verification.</p>
    <p><b>Create an AD:</b> You can start by creating an advert, for which you need a description, wallet ID and, if possible, a picture.</p>
  </div>
  <div class="container mt-5">
    <h2>How To Create An Account?</h2>
    <p><b>Create an Account:</b> If you don't have an account yet, you can easily create one by clicking on the "Register" navbar item.</p>
    <p><b>Input Data:</b> You will be asked to enter your username and password. Please use a unique username to avoid errors.</p>
    <p><b>Login:</b> To log in to your account you have to click on the navbar item "Login" and enter your previously entered data.</p>
  </div>
  <div class="container mt-5">
    <h2>How To SWAP Tokens?</h2>
    <p><b>SWAP Tokens:</b> To swap tokens you have to click on the navbar item "Swap".</p>
    <p><b>Connect your wallet to our platform:</b> Click "Connect Wallet" on our website. MetaMask will automatically open, allowing you to confirm the details of your wallet.</p>
    <p><b>Input Amount:</b> You will be asked to enter the number of BDC or ETH you want to use for the swap. After that you can click on the SWAP button.</p>
    <p><b>Confirm the transaction:</b> Review the transaction details in MetaMask and confirm the swap.</p>
    <p><b>Exchanged tokens:</b> The exchanged tokens should then be displayed in your wallet in a few seconds.</p>
  </div>
</main>

<footer class="bg-body-tertiary text-center text-lg-start" style="background: #000000;">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    &copy; 2024 BitDonate. All rights reserved.
  </div>
</footer>
</body>
</html>