<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BitDonate - Donation Platform</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <div style="position: relative;">
            <img th:src="@{/assets/images/background.jpeg}" alt="Background Image" style="width: 100%; height: auto;">
            <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" style="position: absolute; top: 0; left: 0; right: 0;">
                <div class="container">
                    <a class="navbar-brand" th:href="@{/}"><h3>BitDonate</h3></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" th:href="@{/}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/ads}">Advertisements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/swap}">Swap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/faq}">FAQ</a>
                            </li>
                            <li>
                                <form class="form-inline my-2 my-md-0">
                                    <a sec:authorize="isAnonymous()" class="nav-link text-success" th:href="@{/login}">Login</a>
                                    <a sec:authorize="isAnonymous()" class="nav-link text-success" th:href="@{/register}">Register</a>
                                    <div sec:authorize="isAuthenticated()" class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-success" href="#" id="da" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                        <div class="dropdown-menu" aria-labelledby="da">
                                            <a class="dropdown-item text-dark" th:href="@{/inventory}">Inventory</a>
                                            <a class="dropdown-item text-dark" th:href="@{/ad/create}">Create AD</a>
                                            <a class="dropdown-item text-dark" th:href="@{/admin}" sec:authorize="hasAuthority('ADMIN')">Admin</a>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li>
                                <a sec:authorize="isAuthenticated()" class="text-success" href="javascript: document.logoutForm.submit()">Sign out</a>
                                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                                    <input hidden type="submit" value="Sign Out" />
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container text-center" style="position: absolute; top: 50%; left: 0; right: 0; transform: translate(0, -50%);">
                <h2 class="display-4 text-white">BitDonate</h2>
                <p class="lead text-white">Your secure and anonymous way to donate</p>
            </div>
        </div>
    </header>

    <main class="content">
        <div class="container mt-5">
            <h2>About Us</h2>
            <p>BitDonate, we're passionate about leveraging technology for social good. Our platform offers a secure and anonymous way for users to support charitable causes using our own cryptocurrency tokens. Whether you're drawn to humanitarian aid, environmental conservation, or community development, BitDonate provides a simple and effective way to make a difference.</p>
            <br>
            <p>Unlike traditional donation platforms, we don't require users to create an account. We prioritize user privacy and security by enabling donations to be made anonymously. However, for individuals seeking assistance for their charitable endeavors, account creation and verification are necessary to ensure transparency and credibility.</p>
            <br>
            <p>Our goal is to empower both donors and charitable organizations, fostering a global community of generosity and compassion. With BitDonate, everyone has the opportunity to contribute to meaningful causes, regardless of geographic location or financial status.</p>
            <br>
            <p>Join us in building a better world, one charitable donation at a time.</p>
        </div>

        <h2> Latest Ads</h2>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 py-2" th:each="i : ${latestAds}">
                    <div class="card h-100 text-black">
                        <div class="card-body">
                            <img class="card-img-top" th:src="@{${'/display/picture?id=' + i.adId}}">
                            <h5 th:with="words=${#strings.arraySplit(i.description, ' ')}">
                                <span th:if="${#arrays.length(words) >= 5}" th:text="${words[0] + ' ' + words[1] + ' ' + words[2] + ' ' + words[3] + ' ' + words[4]}"></span>
                                <span th:if="${#arrays.length(words) < 5}" th:text="${#strings.arrayJoin(words, ' ')}"></span>
                            </h5>
                            <a class="btn btn-outline-dark" th:href="@{'/ad/' + ${i.adId}}">Visit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <h2>Important Security Notice</h2>
            <p><b>Protect your data:</b> Never share your private keys, passwords, or personal information. We will never ask for this information.</p>
            <p><b>Remember, it's cryptocurrency:</b> Cryptocurrencies are volatile, and there is a risk of losing your entire investment. Be cautious and only invest what you can afford to lose.</p>
            <p><b>Secure your private keys:</b> Your private keys are the only access to your wallet. Store them in a secure place and do not share them with anyone.</p>
        </div>
    </main>

    <footer class="bg-body-tertiary text-center text-lg-start" style="background: #000000;">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            &copy; 2024 BitDonate. All rights reserved.
        </div>
    </footer>
</body>
</html>

<!--<a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out" />
</form>-->