<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand text-white font-weight-bold">BitDonate</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/ads}">Advertisements</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-md-0">
                        <a sec:authorize="isAnonymous()" class="nav-link text-success" th:href="@{/login}">Login</a>
                        <a sec:authorize="isAnonymous()" class="nav-link text-success" th:href="@{/register}">Register</a>
                        <div sec:authorize="isAuthenticated()" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-success" href="#" id="dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                            <div class="dropdown-menu" aria-labelledby="dd">
                                <a class="dropdown-item" th:href="@{/inventory}">Inventory</a>
                                <a class="dropdown-item" th:href="@{/ad/create}">Create AD</a>
                                <a class="dropdown-item" th:href="@{/admin}" sec:authorize="hasAuthority('ADMIN')">Admin</a>
                            </div>
                        </div>
                    </form>
                    <a sec:authorize="isAuthenticated()" class="text-success" href="javascript: document.logoutForm.submit()">Sign out</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out" />
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main class="content">
        <div class="col-md-6 offset-md-3 mt-5">
            <form method="post" class="form-group"  th:action="@{/auth/verify}" enctype="multipart/form-data">
                <h4 th:text="'Welcome @' + ${currentRequester.username} + ', on this page you can verify your identity by uploading a passport.'"></h4>
                <h4>This process is manually verified, so you will have to wait up to 24 hours to be allowed to post.</h4>
                <div class="form-group mt-3">
                    <label class="mr-2">Upload your Document</label>
                    <input type="file" name="file" required>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </main>

    <footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            &copy; 2023 BitDonate. All rights reserved.
        </div>
    </footer>
</body>
</html>